.p_hmusic {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    /* border: 4px double rgba(255, 255, 255, .25); */
    /* border-width: 4px 0; */
    padding: 1.5em 0em;
    position: absolute;
    top: 1%;
    left: 2%;
    width: 40em;
    /* margin: 0 0 0 -20em; */
}

.span_hmusic {
    /* font: 700 4em/1 "Oswald", sans-serif; */
    font-size: 40px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: fantasy; */
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}


/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.container-stroke {
    display: flex;
    /* min-height: 100vh; */
    align-items: center;
    justify-content: center;
}

.loader {
    height: 70px;
    display: flex;
    align-items: center;
}

.loader .stroke {
    display: block;
    position: relative;
    background: #f1f1f1;
    height: 110%;
    width: 4px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    50% {
        height: 20%;
    }
    100% {
        height: 100%;
    }
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}

.stroke:nth-child(2) {
    animation-delay: 0.3s;
}

.stroke:nth-child(3) {
    animation-delay: 0.6s;
}

.stroke:nth-child(4) {
    animation-delay: 0.9s;
}

.stroke:nth-child(5) {
    animation-delay: 0.6s;
}

.stroke:nth-child(6) {
    animation-delay: 0.3s;
}

.stroke:nth-child(7) {
    animation-delay: 0s;
}


/*This is my youtube channel link*/

#yt {
    position: absolute;
    bottom: 20px;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    right: 20px;
    color: #fff;
}

#yt:hover {
    color: red;
}
